
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

li {
    list-style-type: none;
    /* Убираем маркеры */
  }
  
  ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
  }

.logo{
    width: 150px;
}

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;

}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;

    margin-left: 40px;
    margin-top: 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;

}

/*Стелка вниз*/
.arrow-8 {
    width: 50px;
    height: 50px;
    position: absolute;
    padding-left: 635px;
    margin-top: -80px;

}
.arrow-8:before,
.arrow-8:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-left: 5px solid #707df1;
    border-bottom: 5px solid #707df1;
    animation: arrow-8 3s linear infinite;
}
.arrow-8:after {
    animation: arrow-8 3s linear infinite -1.5s;
}
@keyframes arrow-8 {
    0% {
        opacity: 0;
        transform: translate(0, -53px) rotate(-45deg);
    }
    10%, 90% {
        opacity: 0;
    }
    50% {
        opacity: 1;  
        transform: translate(0, 0) rotate(-45deg);
    }
    100% {
        opacity: 0;
        transform: translate(0, 53px) rotate(-45deg);
    }
}

/*конец*/
.content{
    text-align: center;
}

.content h1{

    font-size: 100px;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}

.content h1:hover{
    -webkit-text-stroke: 5px #707df1;
    color: transparent ;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid white;
    padding: 5px 35px;
    border-radius: 10px;
    margin-top: 50px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;

    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;

    }
}

.text-end{
    margin-top: 9px;
}

.header-link{
    color: black;
}
/*Средняя чать сайта*/

.about-as-container{
    background-color: #eaedff;
    width: 100%;
    height: 400px;
    z-index: -1;
    border-bottom: solid #707df1;
}

.about-as-h{
    color: black;
    padding-top: 10px;
}

.our-projects-h{

    padding-top: 30px;
     color: black;
     text-align: center;
}

.about-as-p{
    font-size: 20px;
    padding-top: 20px;
    background-image: linear-gradient(2deg, #5b6bff,#000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;

}



.about-img{
    width: 550px;
    height: 320px;
    margin-top:-385px;
    margin-left: 750px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 10px #adb6ff;
}


.our-projects{
    z-index: -1;
    
    
}
/*Страница - "Наша команда"*/

.OneToSeven{
    padding-top: 100px;

}

.card-img-top{
    width: 400px;
}

.card{
    border-radius: 20px;
}

.container.our-cunt{
    border-left: solid #707df1;
    border-right: solid #707df1;
    

}

.container.our-cunt-head{
    border-left: solid #707df1;
    border-right: solid #707df1;
    height: 50px;

}


/*Карточки специалистов*/


.min-cont-for-spec{
    width: 350px;
    border-radius: 20px;
    background-color: white;
    margin-left: 58px ;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px 2px #adb6ff;
    
}
.photo-spec{
    width: 350px;
    height: 350px;
    border-radius: 20px 20px 0px 0px;

}

.info-spec{
    padding-left: 10px;
}

.name-spec{
    padding-top: 20px;
    color:#707df1;
    font-size: 25px;
}

.rab-spec{
    font-size: 20px;
    padding-bottom: 10px;
}

.ryad{
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px
}

/*Конец*/



/*CSS окно регистрации и входа */

.ero{
    font-size: 17px;

}

.register-form-container{

    position: relative;
    max-width: 415px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 50px #707df1;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
}

 input{
    height: 45px;
    color: black;
    width: 100%;
    font-family: 14px;
    line-height: 16px;
    border: 2px solid ;
    border-radius: 5px ;
    padding-left: 25px;
    border-color: #d9ddff ;
    outline: #d9ddff;
}



.form-field{
    margin-bottom: 13px;
    border: none;
}

.form-title{
    text-align: center;
    color: #707df1;
    font-weight: 500;
    font-size: 25px;
    line-height: 23px;
    margin-bottom: 38px;

}

.button{
    font-weight: bold;
    font-size: 14px;
    display: block;
    height: 45px;
    width: 100%;
    background: #707df1;
    border-radius: 4px;
    border: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;

}

a.button{
    text-decoration: none;
}
.button:hover{
    background-color:#e2e5ff;
    color: #707df1;
}


.button-reg{
    color:#707df1 ;
    background-color:#e2e5ff ;
    line-height: 45px;
    transition: 0.5s;
}
.button-reg:hover{
    background-color:#707df1;
    color: white;
}
/*Или */
.ore{
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}

/*Отценровка блока регистраии*/
.main-reg{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Отценровка блока регистраии*//*Отценровка блока регистраии*/




/*Страница "Услуги"*/

.h1-title{
    display: flex;
    justify-content: center;
    margin-top: 170px;
    margin-bottom: 80px;
}
.info-servis{
    display: flex;
    flex-wrap: wrap;

}

.services-container {
    display: flex;
    flex-wrap: wrap;
}

.service-block {
    width: 50%; /* Предполагается две колонки */
}



.big-info-servis{
    width: 700px;
    height:fit-content;
    background-color:#5b6bff;
    border-radius: 20px;
    margin-left: 80px;
    margin-top: 20px;
    color: white;
    box-shadow: 0px 0px 10px 3px #4a5cff;
}

.min-info-servis{
    width: 450px;
    height: fit-content;
    background-color:#dbdbdb;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 3px #aaaaaa;
}

.big-info-servis-one{
    width: 700px;
    height:fit-content;
    background-color:#e4e4e4;
    border-radius: 20px;
    margin-left: 80px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 3px #aaaaaa;
}

.min-info-servis-one{
    width: 450px;
    height: fit-content;
    background-color:#d9ddff;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px #adb6ff;
    color: rgb(0, 0, 0);
}

.content-servic{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button-down{
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
}

.name-servis{
    padding-bottom: 20px;
    
    
}

.info-servis{
    padding-bottom: 20px;
    font-size: 20px;

}

.time-servis{
    padding-bottom: 20px;
}

.butbut-down{
    width: 250px;
    height: 50px;
    font-size: 18px;
    border-radius: 40px;
    vertical-align: middle;
    line-height: 50px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    text-align: center;
}

.butbut-down:hover {
    font-size: 18px;
    line-height: 45px;
    border: 2px solid transparent;
    color: #000000;
    background-color: white;
}

.butbut{
    width: 250px;
    height: 50px;
    font-size: 18px;
    border-radius: 40px;
    vertical-align: middle;
    line-height: 45px;
    border: 2px solid ;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}


.butbut:hover {
    font-size: 18px;
    line-height: 45px;
    border: 2px solid transparent;
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

.butbut-one{
    width: 250px;
    height: 50px;
    font-size: 18px;
    border-radius: 40px;
    vertical-align: middle;
    line-height: 45px;
    border: 2px solid ;
    border-color: #ffffff;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}


.butbut-one:hover {
    font-size: 18px;
    line-height: 45px;
    border: 2px solid transparent;
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

/*Конец страницы "Услуги"*/






/*Начало страницы "инморфмация о консутльтации"*/

.head_examples{
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    background-color: #d9ddff;

}

.left_block{
    padding-top: 50px;
    padding-left: 175px;
}


.primer_photo{
    display: block;
    width: 940px;
    height: 600px;
}


.name_exam{
    padding-bottom: 20px;
}
/*Конец */


/*профиль */
.prof{
    background-color: #e2e5ff;
    border-radius: 4px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 222px;
}
.form_prof{
    background-color: #e2e5ff;
}

.kub{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    padding-bottom: 40px;
}
.my_notes{
    display: flex;
}

.button-otmen{
    justify-content: center;
    width: 260px;
    height: 40px;
}



.record-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Отступ между записями */
}

.record-container .record-info {
    flex-grow: 1; /* Запись занимает всё доступное пространство */
}

.record-container form {
    margin-left: 20px; /* Отступ слева от кнопки */
}

/*Конец*/



/*Footer*/

.logo-footer{
    width: 150px;
    margin-top: -80px;
}

.footer-hero{
    width: 100%;
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;

}

.footer-ul{
    list-style-type: none;


}

.footer-a{
    text-decoration: none;
    color: #eaedff;

}

